@font-face {
    font-family: 'Museo';
    src: url('fonts/museosans_300.ttf') format('truetype');
    src: url('fonts/museosans_300.otf') format('opentype');
}
* {
    font-family: Museo !important;
}